@import url('http://fonts.cdnfonts.com/css/geometria?styles=17358,17356,17347,17352,17354,17343,17345,17349, 17351,17357,17348,17353,17355,17344,17346,17350');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geometria', sans-serif;
}

h1 {
    font-size: 14px;
}

header {
    margin: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border-radius: 10px;
    max-height: 80vh;
    max-width: 90%;
}

label {
    font-size: 14px;
    font-weight: 500;
}

iframe {
    display: none;
    width: calc(16*45px);
    height: calc(9*50px);
}

input[type="date"] {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    align-self: center;
    border-radius: 5px;
}

.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 85vh;
}

.info-container,
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-width: 45%;
}

.info-container {
    padding: 20px;
    font-size: 18px;
    justify-content: center;

}

.info-container p {
    text-align: justify;
    margin: 20px;
}

.fa-linkedin-in {
    height: 20px;
    width: 20px;
    width: 155px;
}

#date {
    font-weight: 700;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

.logo div {
    margin-left: 10px;
}

.explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanation img {
    margin: 10px;
}

#submit-btn {
    font-family: 'Geometria', sans-serif;
    background-color: black;
    border-color: #777;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

a:visited {
    color: black;
}

@media only screen and (max-width: 1000px) {
    header {
        justify-content: space-between;
    }

    #date {
        justify-self: center;
    }

    .page-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-container,
    .image-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}