@import url('http://fonts.cdnfonts.com/css/geometria?styles=17358,17356,17347,17352,17354,17343,17345,17349, 17351,17357,17348,17353,17355,17344,17346,17350');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geometria', sans-serif;
}

h1 {
    font-size: 14px;
}

header {
    /* color: white; */
    margin: 18px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 10px;
    max-height: 80vh;
}

label {
    font-size: 14px;
    font-weight: 500;
}

iframe {
    display: none;
    height: 500px;
    width: 700px;
}

input[type="date"] {
    width: 100px;
    padding: 5px;
    margin: 10px;
    align-self: center;
    border-radius: 5px;
}

.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
}

.info-container,
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    width: 50%;
}

.info-container {
    padding: 20px;
    font-size: 18px;
    justify-content: center;

}

.info-container p {
    text-align: justify;
    margin: 30px;
}


.fa-instagram,
.fa-linkedin-in {
    height: 20px;
    width: 20px;
    margin: 5px;
}

#date {
    font-weight: 700;
}

a:visited {
    color: black;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo div {
    margin: 10px;
}

.explanation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.explanation img {
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .page-content {
        flex-direction: column;
    }

    .info-container,
    .image-container {
        width: 100%;
    }
}